body{
 background: linear-gradient(#02f, #fff);
 
}
.pole{
  height: 75px;
  width:40px;
  border:1px solid;
  background-color: #202020;
  margin:auto;
}
.trafficlight{
  padding:10 0;
  background: #202020;
  height: 350px;
  width:154px;
  margin: auto;
  text-align: center;
  
}
.box{
	border-radius: 50%;
	width: 100px;
	height: 100px; 
  margin: 5px auto;
  display: inline-block;
  border-color: grey;
  border-style:solid;
}
.red:hover{
  background: red;
  box-shadow: 0px 0px 150px red;
}
.amber:hover{
  background: yellow;
  box-shadow: 0px 0px 150px;
}
.green:hover{
  background: green;
  box-shadow: 0px 0px 150px;
}